.footer {
  height: 100%;
  background-color: black;
  color: white;

  .footerContainer {
    width: 100%;
    max-width: 1200px;
    padding: 100px 5px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;

    .footerContainerList {
      display: flex;
      justify-content: space-between;

      .fContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .fContainerList {
          display: flex;
          flex-direction: column;
          gap: 10px;

          span {
            cursor: pointer;
          }
        }
      }
    }
    .footerCo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footerIcon {
        display: flex;
        gap: 20px;

        i {
          font-size: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
